* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

body {
    /* height: 100vh; */
    background-color: #CCC;
}

/* Top Contents */

.top-contents {
    display: flex;
    float: right;
    margin: 0.5em 1em 0 0;
}

.top-contents .account {
    padding-right: .5em;
    font-size: .8em;
    font-family: Arial, Helvetica, sans-serif;
}

.top-contents a {
    text-decoration: none;
}

.top-contents a:hover {
    text-decoration: underline;
}

.top-contents .button {
    background-color: blue;
    border: none;
    max-width: 100px;
    border-radius: 4px;
    color: #FFF;
    cursor: pointer;
    padding: 5px 10px;
}

.top-contents button:hover {
    background-color: dodgerblue;
}

.container {
    width: 350px;
    background: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 10px;
    border: 1px solid #333;
}

.container .inner-contents {
    position: relative;
    top: 0;
    left: 0;
    margin: 20px;
}

.container .inner-contents h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.5em;
    font-weight: lighter;
    color: #333;
    margin: 20px 0px;
}

.container .inner-contents .subhead {
    text-align: center;
    font-size: 0.7em;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
    color: #333;
}

.container .inner-contents a {
   text-decoration: none;
}

.container .inner-contents a:hover {
    text-decoration: underline;
}

.container .form {
    background-color:#FFF;
    margin: 15px 0;
    padding: 10px;
}

.container .form label {
    display: block;
    color: #333;
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9em;
}

.container .form input{
    width: 100%;
    padding: 5px;
}

.form input[type="email"],
.form input[type="tel"],
.form input[type="password"],
.form input[type="password"] {
    height: 30px;
    border: 1px solid #CCC;
    border-radius: 3px;
}

.form button {
    width: 100%;
    border: none;
    height: 30px;
    background-color: blue;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
}

.form button:hover {
    background-color: dodgerblue;
}

.container .inner-contents > p {
    text-align: center;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-size: .7em;
}

.container .inner-contents .form-footer {
    background-color: red;
}





